{%extends 'PruebaFinalApp/base.html'%}

{%block contenido%}

<div class="row gx-5">
    <div class="col-lg-4 mb-5">
        <div class="card h-100 shadow border-0">            
            <div class="card-body p-4">                
                <a class="text-decoration-none link-dark stretched-link" href="#!"><h5 class="card-title mb-3">Nombre de Usuario: {{user.get_username}}</h5></a>
                <p>{{user.get_email}}</p>                
                <br>                
            </div>                                
        </div>
    </div>
</div>

{%endblock%}