{%extends 'PruebaFinalApp/base.html' %}

{%block title%}
Prueba Final - Publicaciones
{%endblock%}

{%block contenido%}

<br>
<h1 style="text-align: center;"><b>Publicaciones</b></h1>
<br>
<hr style="width: 25%; margin: auto;">
<br>
<br>

<div class="row gx-5"> 
        {%for publicacion in publicaciones%}
        <div class="col-lg-3 mb-5">
            <div class="card h-100 shadow border-0">
                <img class="card-img-top" src="{{publicacion.imagen.url}}" alt="..." style="max-width: 400px; max-height: 400px; height: auto; width: auto; align-self: center;"/>
                <div class="card-body p-4">
                    <div class="badge bg-primary bg-gradient rounded-pill mb-2">{{publicacion.pais}}</div>
                    <h5 class="card-title mb-3">{{publicacion.titulo}}</h5></a>
                    <p class="card-text mb-0">{{publicacion.descripcion|slice:120}}...</p>
                    <br>
                    <p class="card-text mb-0">Creado por: </p>
                    <p class="card-text mb-0">{{publicacion.fecha_viaje}}</p>
                    <br>
                    <a class="btn btn-primary btn-lg px-2 me-sm2" href="{%url 'ver_publicacion' publicacion.id%}">Ver mas</a>                                   
                </div>                                
            </div>
        </div>
    {%endfor%}                            
</div>

{%endblock%}